
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
  }
  
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format(woff2);
    font-display: swap;
  }


  
body {
    font-family: "PT Sans", sans-serif; 
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
 
  button {
    font-family: "PT Sans", sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
  }

.page-header {
    color: black;
    background-color: white;
}
  
.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;

}

.navigation-link {
display: block;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 34px;
font-weight: 700;
font-size: 20px;
line-height: 26px;
text-decoration: none;
color: black;
background-color:white;
}

.navigation-list {
display: flex;
flex-wrap: wrap;
list-style: none;
margin: 0px;
padding: 0px;
width: 490px;
margin-right: 237.13px;
}

.navigation-user {
display: flex;
min-width: 42px;
min-height: 66px;
list-style: none;
max-width: 263.87px; 
margin-top:0px;
margin-bottom: 0px;
margin-right: 70px; 
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}


.main-container {
    flex-grow: 1;
  
}


.main-logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px; 
    padding-bottom: 60px;
}

.header-logo {
    display: flex;
    margin-left: 70px;
}

.want-there {
text-transform: uppercase;
background-color: #756157;
color: #ffffff;
width: 160px;
padding: 0;
margin: 0;

}

html {
    height: 100px;
}

.main-index {
background-image: url(/images/Background.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
width: 1200px;
margin: 0 auto;

}

.advantages-header {
    display: block;
    margin: 0 auto;
    margin-top: 63px;
    margin-bottom: 90px;

}

.advantages-title-header {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;

}

.advantages-description-header {
font-weight: 400;
font-size: 22px;
line-height: 28px;
text-align: center;
}

.advantages-title, 
.advantages-town-title {
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
}

.advantages-title {
    margin: 0px;
    padding-bottom: 30px;
}

.advantages-town {
display: flex;
justify-content: space-between;
margin: 0;
padding: 0;
text-align: center;
list-style: none
}

.advantages-list-bridge {
    display: flex;
    margin: 0;
    padding: 0;

}

.container-photo {
    width: 800px;
    flex-grow: 1;   
}

.container-bridge {
    width: 400px;
    padding-top: 92px;
    padding-bottom: 92px;
}



.advantages-town-list {
    width: 400px;
    padding-top: 80px;
    padding-bottom: 81px;
    margin: 0;
}




.advantages-lt-town {
    display: flex;

}

.container-town {
    width: 400px;
    padding-top: 92px;
    padding-bottom: 92px;

}

.container-photo-town {
width: 800px;
flex-grow: 1;

}

.advantages-description,
.advantages-town-description {
text-align: center;
}

.advantages-description {
margin: 0;
padding-bottom: 30px;
}

.explain {
padding-bottom: 0px; 
}

.advantages-container {
    display: flex;
    justify-content: space-between;
}

.advantages-list {
 width: 400px;
margin: 0;
line-height: 21px;
padding-top: 103px;
padding-bottom: 102px;
}

.find-hotel-offer {
 margin: 0;
}

.find-hotel-title,
.subscribe-title-bl {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
}

.find-hotel-title {
    margin: 0;
    padding-top: 91px;
}

.subscribe-title {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.find-hotel-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 55px;
  
}

.find-hotel-description-subscription {
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #ffffff;
margin: 0;
padding-top: 29px;
padding-bottom: 46px;
}

.find-hotel-description-bl {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-bottom: 46px;
}

.advantages-card {
    margin-top: 28px;
    padding: 0px;
    list-style: none;
}

.advantage-blue {
    color: #ffffff;
    background-color: #82b3d3;
}

.bg-light
 {
    background-color: #f0f6fa;
}

.bg-blue {
    background-color: #e6f0f6; 
}

.find-hotel {
    display: block;
    color:white;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: #756157;
    margin: 0 auto;
    width: 574px;
    margin-top: 0;
    margin-bottom: 105px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}



.field {
    width: 600px;
} 

.subscribe-button {
    color: white;
    background-color: #82b3d3;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    width: 200px;
    
}

.subscribe {
 background-image: url('../images/Background-blurred.jpg');
 background-size: 100% auto;
 background-repeat: no-repeat;
 background-color: #82b3d3;
 width: 1200px;
 margin: 0;
 padding-top: 94px;
 padding-bottom: 94px;

}

.subscribe-title-bl {
    color: #000000;
    margin: 0;
    padding-bottom: 29px;
}

.subscribe-form-catalog {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;   
}

.page-footer-container {
    display: flex;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    width: 1060px;
  } 

  .footer-social {
      width: 142px;
      margin-right: 41.5px;
  }

.footer-social-list {
    display: flex;
    flex-direction: row;
    width: 142px;
    gap: 10px;
}

.footer-social-item {
 width: 47.33px;
}

.contacts {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    width: 720px;
}

.logo-academy {
    max-width: 115px;
    margin-left: auto;
}

.options h1{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;  
  margin: 0;
}

.options {
    background-image: url('../images/Background-blurred-2.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
    background-color: #82b3d3;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 70px;
}

.filter {
    width: 1059px;
}


.breadcrumbs {
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 40px;
}

.infrastructure-options,
.type-of-accomodation-options,
.price-options {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}


button {
    font-size: 16px;
    line-height: 20px;  
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.type-of-showing {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    width: 338px;
    margin: 0;
}

.title-hotel {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.rating {
    font-size: 16px;
    line-height: 20px; 
}

.pagination {
    display: flex;
    width: 1056px;
    margin: 0 auto;
    padding-bottom: 25px;
    align-items: center;
}

.page-numbers {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style: none;
    align-content: center;

}

 .page-number {
    background-color: #82b3d3;
    width: 60px;
    margin: 0;
   
}



.link-number {
    display: block;
    box-sizing: border-box;
    text-decoration: none; 
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    padding: 11px 23px;

}

.link-number-active {
    display: block;
    color: #000000;
    text-decoration: none; 
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    padding: 11px 23px;
}


.quantity {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 386px;
    margin-left: 270px;
}

.quantity-showed {
    margin-left: 51px;
    width: 160px;
}

.active {
    color: #000000;
    background-color: #f2f2f2;
    }

.want-there {
    background-color: #756157;
}

.brown {
background-color: #756157;
}

.blue {
    background-color: #82b3d3;
}

.green {
    background-color: #7db54f;
}

.reset-options {
    text-transform: none;
    background-color: transparent;
    font-weight: 400;
}

.footer-social-list {
display: flex;
flex-direction: column;
margin: 0px;
padding: 0px;
list-style: none;
}

.options-container {
    display: flex;
    flex-direction: row;
}

.infrastructure {
    display: flex;
    width: 150px;
    margin-right: 70px;
    flex-direction: column;
}

.price {
    display: flex;
    width: 287.81px;
    margin-right: 70px;
    margin-left: auto;
}

.submit-container {
    display: flex;
    width: 160.45;
    flex-direction: column;
}


.type-of-accomodation-options {
    display: flex;
    width: 145px;
    margin-right: 167px;
    flex-direction: column;

}

.container-sorting {
    width: 1057px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 56px;

  
}

.sorting {
    display: flex;
    width: 290px;
    margin-right: 78px;
    margin-left: auto;
    color: #000000;
    background-color: #ffffff
}

.sorting-form {
    display: flex;
}

.type-of-gallery {
    width: 160px;
}

.type-of-sorting {
    width: 338px;
    margin: 0%;
}


.available-hotels {
    display: flex;
    flex-wrap: wrap;
    width: 1056px;
    margin: 0 auto;
    gap: 18px;
}

.card {
    width: 340px;
}

.stars-container {
    display: flex;
    list-style: none;
}