
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
  }
  
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format(woff2);
    font-display: swap;
  }


  
body {
    font-family: "PT Sans", sans-serif; 
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
 
  button {
    font-family: "PT Sans", sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    border-radius: 85;
    border: none;
  }

.page-header {
    color: black;
    background-color: white;
}
  
.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;

}

.navigation-link {
position: relative;
display: block;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 34px;
font-weight: 700;
font-size: 20px;
line-height: 26px;
text-decoration: none;
color: black;
background-color:white;
}


.navigation-list {
display: flex;
flex-wrap: wrap;
list-style: none;
margin: 0px;
padding: 0px;
width: 490px;
margin-right: 237.13px;
}


.navigation-active {
border-bottom: 2px solid #756257;
padding-right: 0px
}

.navigation-about {
    padding-left: 34px;
}

.navigation-active-hotels {
    border-bottom: 2px solid #756257;
    padding-right: 0px; 
}


.navigation-user {
display: flex;
min-width: 42px;
min-height: 66px;
list-style: none;
margin-top:0px;
margin-bottom: 0px;
margin-right: 70px; 
align-items: center;
}

.navigation-icon {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0
  }

  .academy {
  position: absolute;
  top: 10px;
  right: 300px;
  bottom: 0;
  left: 0;
  margin: 0;
  fill: black
  }


.logo-academy {
    position: relative;
    display: block;
    min-width: 115px;
    min-height: 34px;
    cursor: pointer;
    

}

.academy {
    fill: #000000;
}

.academy:hover {
    fill: rgba(117, 97, 87, 1);
    
}

.academy:active {
    fill: rgba(117, 97, 87, 0.3);
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}


.main-container {
    flex-grow: 1;
  
}


.main-logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px; 
    padding-bottom: 60px;
}



.header-logo {
    display: flex;
    margin-left: 70px;
    transform: translateY(5px);
}

.want-there {
text-transform: uppercase;
background-color: #756157;
color: #ffffff;
width: 160px;
padding: 9px 15px;
text-align: center;
cursor: pointer;
border-radius: 4px;
}

.want-there:hover {
background-color: #615048;
}

.want-there:active {
    color: rgba(255, 255, 255, 0.3) ;
    }
    
 .want-there:disabled {
     background-color: rgba(229, 229, 229, 1);
 }   


html {
    height: 100px;
}

.main-index {
   

}

.logo-block {
    position: relative;
    background-image: url(/images/Index-background.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
width: 1200px;
margin: 0 auto;

}

.logo-block:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 57px;
    background-image: url(/images/Divider.png);
  }

.advantages-header {
    display: block;
    margin: 0 auto;
    margin-top: 63px;
    margin-bottom: 90px;

}

.advantages-title-header {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;

}

.advantages-description-header {
font-weight: 400;
font-size: 22px;
line-height: 28px;
text-align: center;
}

.advantages-title, 
.advantages-town-title {
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
}

.advantages-title {
    margin: 0px;
    padding-bottom: 30px;
}

.advantages-town {
grid-column-start: 1;
grid-column-end: 4;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0;
padding: 0;
text-align: center;
list-style: none
}

.advantages-list-bridge {
    display: flex;
    grid-column-start: 1;
 grid-column-end: 4;
    margin: 0;
    padding: 0;

}

.favorites{
    box-sizing: border-box;
    position: absolute;
    left: 24px;
    top: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    background: #7DB54F;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    padding: 2px 5px 4px 5px;
    transform: translateX(-12px) translateY(-15px);
  }

.favorites-icon {
    margin-right: 19px;
}


.container-photo {
    width: 800px;
    flex-grow: 1;   
}

.container-bridge {
    width: 400px;
    padding-top: 92px;
    padding-bottom: 92px;
}



.advantages-town-list {
    width: 400px;
    padding-top: 80px;
    padding-bottom: 81px;
    margin: 0;
}




.advantages-lt-town {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;

}

.container-town {
    width: 400px;
    padding-top: 92px;
    padding-bottom: 92px;

}

.container-photo-town {
width: 800px;
flex-grow: 1;

}

.advantages-description,
.advantages-town-description {
text-align: center;
}


.advantages-description {
margin: 0;
padding-bottom: 30px;
}

.explain {
padding-bottom: 0px; 
}

.advantages-container {
    display: flex;
    justify-content: space-between;
}

.advantages-list {
 width: 400px;
margin: 0;
line-height: 21px;
padding-top: 103px;
padding-bottom: 102px;
}

.find-hotel-offer {
 margin: 0;
}

.find-hotel-title,
.subscribe-title-bl {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
}

.find-hotel-title {
    margin: 0;
    padding-top: 91px;
}

.subscribe-title {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.find-hotel-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 55px;
  
}

.find-hotel-description-subscription {
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #ffffff;
margin: 0;
padding-top: 29px;
padding-bottom: 46px;
}

.find-hotel-description-bl {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-bottom: 46px;
}

.advantages-card {
    display: grid;
    margin-top: 28px;
    padding: 0px;
    list-style: none;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 384px 384px 384px;
}



.advantage-blue {
    color: #ffffff;
    background-color: #82b3d3;
}

.bg-light
 {
    background-color: #f0f6fa;
}

.bg-blue {
    background-color: #e6f0f6; 
}

.find-hotel {
    display: block;
    color:white;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: #756157;
    margin: 0 auto;
    width: 574px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 105px;
    border-radius: 4px;
    padding: 8px 11px;
}

.find-hotel:hover {
    background-color: rgba(97, 80, 72, 1);
}

.find-hotel:active {
    color: rgba(255, 255, 255, 0.3)
}

.find-hotel:disabled {
    color: rgba(229, 229, 229, 1)
}


.subscribe-form {
    display: flex;
    justify-content: center;
}



.field {
    width: 600px;
    border: none;
    padding-left: 22px;
    padding-top: 19px;
    padding-bottom: 19px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
} 

.subscribe-button {
    color: white;
    background-color: #82b3d3;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    width: 200px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}

.subscribe-button:hover {
    background-color: rgba(104, 162, 202, 1);
}

.subscribe-button:active {
   color: rgba(255, 255, 255, 0.3)
}

.subscribe-button:disabled {
    background-color: rgba(229, 229, 229, 1);
}

.subscribe {
 background-image: url('../images/Background-blurred.jpg');
 background-size: 100% auto;
 background-repeat: no-repeat;
 background-color: #82b3d3;
 width: 1200px;
 margin: 0;
 padding-top: 94px;
 padding-bottom: 94px;

}

.field-catalog {
    background-color: #F2F2F2;
}

.subscribe-title-bl {
    color: #000000;
    margin: 0;
    padding-bottom: 29px;
}

.subscribe-form-catalog {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;   
}

.page-footer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1060px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
  } 

 
a[href^="tel:"]:hover {
color: #756157;
cursor: pointer;
}

a[href^="tel:"] {
    color: black;
    text-decoration: none;
}

a[href^="tel:"]:focus {
    color: #7561574D;
    cursor: pointer;
    }



.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 142px;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.footer-social-item {
padding: 0;
margin: 0;

}

.social-link {
    position: relative;
    display: block;
    width: 47px;
  height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 14px;

}


.social {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    fill: #83B3D3;
}
    

.social:hover {
    fill: #68A2CA;
}

.social:active {
    fill: rgba(104, 162, 202, 0.3);
}

.contacts {
    font-size: 40px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 720px;
}


.options h1{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;  
  margin: 0;
}

.options {
    background-image: url('../images/Background-blurred-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-color: #82b3d3;
    margin: 0;
    padding-top: 35px;
    
    width: 1199px;
    height: 403px;
}

.filter {
    width: 1059px;
    margin: 35px 70px 70px 70px;
}


.breadcrumbs {
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 40px;
}

.breadcrumbs-icon:hover {
    fill: rgba(255, 255, 255, 0.6);
    }

.breadcrumbs-icon:focus {
        fill: rgba(255, 255, 255, 0.6);
        }
    


.breadcrumbs-link {
    position: relative;
}

.breadcrumbs-icon {
    position: absolute;
    fill: white;
    left: -20px;
    top: 2px;
}


.infrastructure-options,
.type-of-accomodation-options,
.price-options {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 30px;
}



button {
    font-size: 16px;
    line-height: 20px;  
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}


.swimming-pool,
.parking,
.wi-fi
 {
display: flex;
}

.range-scale {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    padding-top: 30px;
  }

  
  .range-bar {
    position: absolute;
    width: 80%;
    height: 4px;
    background-color: white;
  }
   
.range {
    margin-top: 55px;
}

  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggle-min {
    top: -8px;
    left: -10px;
  }
  
  .toggle-max {
    top: -8px;
    right: 60px;
  }

  .range-wrapper-inputs {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    height: 48px;
    width: 287px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 2px;
    position: relative;
  }

  .range-wrapper-inputs::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 48px;
    background: white;
    transform: translate(-50%,-50%);
  }

  .catalog-filter-label {
    display: flex;
  color: rgba(229, 229, 229, 0.3);
   
  }

  
  .range-input {
    width: 30px;
    padding: 0 2px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    
  }

  .range-input::-webkit-outer-spin-button,
  .range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

.type-of-showing {
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}


.title-hotel {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.rating {
    font-size: 16px;
    line-height: 20px; 
    text-transform: uppercase;
    grid-row-start: 5;
    grid-column-start: 2;
    margin: 0;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    width: 1056px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 25px;
    align-items: center;
}

.hotels-on-page {
    padding-top: 20px;
}

.page-numbers {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style: none;
    align-content: center;
    padding: 0px;
    margin: 0px;

}

 .page-number {
    background-color: #82b3d3;
    width: 60px;
    margin: 0;
    border-radius: 4px;
}



.link-number {
    display: block;
    box-sizing: border-box;
    text-decoration: none; 
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    padding: 11px 23px;
    

}

.link-number:hover {
background-color: rgba(104, 162, 202, 1);
}

.link-number:focus {
    color:rgba(255, 255, 255, 0.3);
}

.link-number-active {
    display: block;
    color: #000000;
    text-decoration: none; 
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    padding: 11px 23px;
}


.quantity {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 386px;
    margin-left: 270px;
    color: #333333;
}

.quantity-hotels {
    padding-top: 5px;
}

.quantity-showed {
    width: 160px;
    padding: 14px 20px;
    padding-right: 97px;
   color: 333333;
    background-color: #ffffff;
    border: 2px solid rgba(229, 229, 229, 1);
    background-image: url('/images/Arrow.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    appearance: none;
}


.quantity-of-hotels {
    width: 175px;
    margin-right: 51px;
}


.active {
    color: #000000;
    background-color: #f2f2f2;
    }



.brown {
background-color: #756157;
border-radius: 4px;
}

.brown:hover {
background-color: rgba(97, 80, 72, 1);
}

.brown:active {
    color: rgba(255, 255, 255, 0.3);
}

.brown:disabled {
    background-color: rgba(229, 229, 229, 1);
    }


.blue {
    background-color: #82b3d3;
    border-radius: 4px;
}

.blue:hover {
    background-color: rgba(104, 162, 202, 1);
    }
    
 .blue:active {
        color: rgba(255, 255, 255, 0.3);
    }
    
.blue:disabled {
        background-color: rgba(229, 229, 229, 1);
        }
    


.green {
    background-color: #7db54f;
    border-radius: 4px;
}

.green:hover {
    background-color: rgba(108, 158, 66, 1);
    }
    
 .green:active {
        color: rgba(255, 255, 255, 0.3);
    }
    
.green:disabled {
        background-color: rgba(229, 229, 229, 1);
        }
    


.reset-options {
    text-transform: none;
    background-color: transparent;
    font-weight: 400;
}


.options-container {
    display: flex;
    flex-direction: row;
}

.infrastructure {
    display: flex;
    width: 150px;
    margin-right: 70px;
    flex-direction: column;
}

.price {
    display: flex;
    width: 287.81px;
    margin-right: 70px;
    margin-left: auto;
}

.submit-container {
    display: flex;
    width: 160.45;
    flex-direction: column;
    margin-top: 60px;
}


.type-of-accomodation-options {
    display: flex;
    width: 145px;
    margin-right: 175px;
    flex-direction: column;

}

.container-sorting {
    width: 1057px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 56px;
}


  .select-control {
    width: 290px;
    padding: 14px 20px;
    padding-right: 97px;
   color: 333333;
    background-color: #ffffff;
    border: 2px solid rgba(229, 229, 229, 1);
    background-image: url('/images/Arrow.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    appearance: none;

  }

  .select-control:hover {
    border: 2px solid rgba(104, 162, 202, 1); 
  }
  
.select-control:focus {
    border: 2px solid rgba(63, 94, 114, 1);
}

.select-control:disabled {
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3)
    
}

.select {
    position: relative;
    align-items: center;
    width: 290px;
    
  }

.submit-options {
    padding: 14px 15px;
    font-size: 14px;
    width: 160px;
}

.reset-options {
    margin-top: 20px;
    padding: 0px;
}

.sorting-form {
    display: flex;
    color: #000000;
    background-color: #ffffff;
    margin-left: 191px;
    margin-right: 78px;
}

.type-of-gallery {
    display: flex;
    width: 160px;
    border: 0;
    flex-wrap: wrap;
    gap: 8px;
    flex-direction: row;
    align-items: center;

}

.gallery-type {
    width: 44px;
    height: 46px;
    margin: 0;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.selected {
    border: 2px solid black;
}


.gallery-type:hover {
    border: 2px solid rgba(104, 162, 202, 1);
}

.gallery-type:focus {
     border: 2px solid black;
}

.gallery-1,
.gallery-2,
.gallery-3 {
    position: relative;
    top: 15px;
    left: 14px;
}



.type-of-sorting {
    width: 338px;
    
}


.available-hotels {
    display: flex;
    flex-wrap: wrap;
    width: 1056px;
    margin: 0 auto;
    gap: 38px;
    
}

.card {
    display: grid;
    grid-template-rows: 211px 28px 21px 37px 20px  20px;
    grid-template-columns: 140px 140px;
   row-gap: 16px;
   column-gap: 20px;

}

.stars-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 140px;
    padding: 0;
}

.title-hotel {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
}

.image-card {
    grid-column: 1/2; 
    grid-row: 1;
}

.type-of-accomodation {
    grid-row-start: 3;
    grid-column-start: 1;
    margin: 0;
}

.price-from {
    grid-row-start: 3;
    grid-column-start: 2;
    margin: 0;
}


.brown {
    grid-row-start: 4;
    grid-column-start: 1;
    margin: 0;
    
}

.blue {
    grid-row-start: 4;
    grid-column-start: 2;
    margin: 0;
}

.stars-container {
    grid-row-start: 5;
    grid-column-start: 1;
    margin: 0;
}


.green {
    grid-row-start: 4;
    grid-column-start: 2;
    margin: 0;
}

.infrastructure,
.type-of-accomodation-options,
.price {
    border: 0 none;
    padding: 0px;
    margin-left: 0px;
}


.infrastructure-options {
    display: flex;
    flex-direction: row;
    width: 150px;
    

}

.swimming-pool {
    display: block;
    margin-bottom: 15px;

}

.control {
    position: relative;
    display: block;
    padding-left: 36px;
  }
  

  .control-mark {
    position: absolute;    
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 4px;
    left: 3px;
    margin-bottom: 16px;
  }

.infrastructure {
    padding: 0px;
    margin-left: 0px;
   
}

